html {
    background-image: url('images/bg.jpg');
}
body {
    background-color: #111;
    padding-top: 5px;
    margin: 30px;
    border: solid;
    border-color: #555;
    border-radius: 25px;
    color: white;
    box-shadow: 10px 15px 10px #222;
}
h1 {
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: center;
}
#menu {

    display: flex;
    justify-content: space-evenly;
}
#af {
    color: white;
    background-color: #555;
    display: flex;
    border: #333 solid;
    border-radius: 50%;
    width: max-content;
    padding: 5px;
    text-decoration: none;
}
#af:hover {

    color: #555;
    background-color: white;
    display: flex;
    border: #eee solid;
}
#n {
    color: #fff;
    background-color: #333;
    padding-left: 10px;
}
img {
    border: solid;
    border-radius: 20%;
    border-color: #444;
    border-width: 5px;
    position: relative;
}
#item {

    cursor: pointer;
    position: relative;
}
#item h4 {

    position: absolute;
    top: 86%;
    left: 11%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    font-weight: bold;
    color: white;
}
#item:hover h4 {

    color: black;
    opacity: 1;
}
img:hover {

    transform: scale(1.2);
}
#i {
    color: white;
    padding-left: 10px;
}
#b {
    background-color: #444;
    color: honeydew;
    padding: 10px;
    border: solid;
    border-color: #999;
    border-radius: 10px;
}
#l {
    margin-left: 10px;
}
#tdf {
    text-decoration: none;
}
.me {

    margin-top: 20px;
    padding: 20px;
}
#form {

    border: solid;
    border-color: white;
    margin-top: 20px;
    margin-left: 44%;
    text-align: center;
    padding: 10px;
    width: fit-content;
}
#af:link {

    color: #fff;
}
#af:visited {

    color: rgb(29, 24, 24);
}